@font-face {
    font-family: "Futura";
    src: url('./FuturaBold.otf') format('truetype');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url('./FuturaMedium.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Futura";
}


#top {
    width: 100%;
    z-index: 1;
    display: flex;
    align-content: flex-end;
}

#image {
    max-height: 38vw;
    overflow: hidden;
    position: relative;
    margin-left: auto; margin-right: 0;
    box-shadow: 0px 3px 16px -1px rgba(0,0,0,0.75);
}

#image img {
    max-width: 62vw;
}

#info {
    position: absolute;
    top: 5vw;
}

#time {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2rem;
    padding: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    
    position: relative;
    margin-left: 4rem;
    margin-top: -2rem;
}

#time img {
    width: 2.6rem;
    height: 2.6rem;
}

#time h5 {
    font-size: 1.2rem;
}

#name, #author {
    width: fit-content;
    max-width: 62vw;
    padding: 0px 8px;
    color: white;
    font-size: 2.8rem;
    position: relative;
    margin-left: 4rem;
    box-shadow: 0px 3px 16px -1px rgba(0,0,0,0.75);
}

#name {
    background-color: #e41818;
    z-index: 3;
}

#author {
    background-color: #e4d818;
    color: black;
    margin-top: -4.3rem;
    z-index: 2;
}

#description {
    width: 76%;
    margin-left: 12%;
    margin-top: 5.4rem;
    font-size: 1.6rem;
}

#line {
    width: 80%;
    height: 1.8rem;
    margin-left: 10%;
    margin-top: -2.8rem;
    margin-bottom: 2.4rem;
    background-color: #e4d818;
}

#break {
    width: 90%;
    margin-left: 5%;
}

main {
    min-height: 60vh;
    margin-top: 2rem;

    display: flex;
}

section, aside {
    padding: 2rem 4rem;
}

.title {
    display: flex;
    align-items: center;
    
    font-size: 3rem;
    margin-top: 0rem;
}

.title img {
    width: 4rem;
    height: 4rem;
}

section h1, aside h1{
    font-size: 3rem;
    margin-top: 0rem;
}

section {
    flex-basis: 75%;
}

aside {
    flex-basis: 25%;
    border-right: 1px gray solid;
}

.step {
    margin-bottom: 2rem;
}

.step h3{
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
}

.step p{
    display: inline;
    font-size: 1.4rem;
}

.step--line {
    position: relative;
    width: 3rem;
    height: 1.8rem;
    top: 3rem;
    background-color: #e4d818;
    z-index: -1;
}

aside ul{
    font-size: 1.4rem;
}

