#potpis {
    mix-blend-mode: multiply;
    height: 10vh;
    width: 29vh;
    object-fit: cover;
}

.Name {
    height: 10vh;
    width: 29vh;
    
    margin-left: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Name h1 {
    font-size: 2.4rem;
    margin: 0;
}

.About-Me {
    display: flex;
    justify-content: center;

    margin-top: 4vh;
}

.Container {
    display: flex;
    width: 86%;
}

.Image {
    width: 30%;
}

.Text {
    width: 70%;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Image img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Text p{
    font-size: 1.4rem;
}

.Social-Media {
    margin-top: 2rem;
}

.Social-Media img {
    width: 8vh;
    margin-right: 1rem;

    filter: brightness(0);
    transition: all 0.2s;
}

.Social-Media img:hover {
    filter: brightness(1);
}