.car-dusan {
    background-color: rgba(231, 224, 197, 0.8);
}

.dijamant {
    background-color: rgba(118, 194, 219, 0.5);
}

.balkan {
    background-color: rgba(204, 146, 46, 0.5);
}

.vranje {
    background-color: rgba(254, 227, 0, 0.5);
}

.swadowed {
    background-color: rgba(19, 15, 86, 0.5);
}

.srbija {
    background-color: rgba(11, 46, 162, 0.5);
}

.sindjelic {
    background-color: rgba(0, 0, 0, 0.5);
}

.partizan {
    background-color: rgba(0, 0, 0, 0.5);
}

.olympics {
    background-color: rgba(247, 69, 28, 0.5);
}

.mavs {
    background-color: rgba(38, 176, 110, 0.5);
}

.lug {
    background-color: rgba(217, 130, 198, 0.5);
}

.juzna-srbija {
    background-color: rgba(22, 64, 140, 0.5);
}